.selectize-input .item:not(.active) {
    color: #11A !important;
}

.selectize-dropdown {
    width: 100% !important;
}

.selectize-dropdown-content {
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}
